# Configuración del adaptador del Portal
PortalAdapter.Endpoints=tcp -h localhost -p 10000

# Propiedades del Proxy para conectar con otros servicios
Consultoria.Proxy=consultoria:tcp -h localhost -p 10000
AccesoDatos.Proxy=accesodatos:tcp -h localhost -p 10000
Seguridad.Proxy=seguridad:tcp -h localhost -p 10000

# Configuración de conexión con otros servicios
Votacion.Proxy=mesavotacion:tcp -h localhost -p 10001
Fiscalia.Proxy=fiscalia:tcp -h localhost -p 10002
ElectoralDB.Proxy=electoraldb:tcp -h localhost -p 10003
ReliableMsg.Proxy=reliablemsg:tcp -h localhost -p 10004

# Configuración general de Ice
Ice.Default.Host=localhost
Ice.ThreadPool.Server.Size=4
Ice.ThreadPool.Server.SizeMax=8
Ice.ThreadPool.Client.Size=4
Ice.ThreadPool.Client.SizeMax=8 